body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
}
.cell{
	height: 40px;
	width: 40px;
	position: relative;
}
.monster{
	background-color: red;
}
.hero{
	background-color: green;
	position: relative;
	box-sizing: content-box;
}
.path{
	background-color: transparent;
}
.wall{
	background-color: black;
}
.row{
	min-height: 40px;
	min-width: 300px;
	display: flex;
	flex-direction: row;
	
}
#gameBoard{
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}