@font-face {
	font-family: 'techno_til_dawn';
    src: url('../media/font/techno_til_dawn-webfont.woff2') format('woff2'),
         url('../media/font//techno_til_dawn-webfont.woff2.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*

{
	font-family: techno_til_dawn;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 920px;
	position: fixed;
	width: 100%;
	background-image: url(../media/background/8_bit_adventure_anthology.jpg);
	background-repeat: no-repeat;
}
.cell{
	height: 40px;
	width: 40px;
	position: relative;
}
.monster{
	background-image:url(../media/darkDuck.png);
	background-repeat: no-repeat;
}
.hero{
	background-image:url(../media/ducky.png);
	position: relative;
	box-sizing: content-box;
	background-repeat: no-repeat;
}
.path{
	
}
.wall{
	background-image:url(../media/brick2.png);
	background-repeat: no-repeat;
	box-shadow: 10px 10px 0px rgba(54, 54, 54, 0.400);
	 
}
.row{
	min-height: 40px;
	min-width: 300px;
	display: flex;
	flex-direction: row;
	background-image:url(../media/tile_grass.png);
}
#gameBoard{
	/*width: 500px;
	height: 300px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bomb{
	background-image:url(../media/bomb2.png);
	box-sizing: content-box;
	background-repeat: no-repeat;
}
.explosion{
	background-image: url(../media/explosion1sized.png);
	background-repeat: no-repeat;
}
#zoneInfo{
	width: 594px;
	border: 2px solid black;
}

.displayMonstersLeftElt{
	background-color: white;
	display: flex;
}

.displayLevelElt{
	background-color: white;
	display: flex;
}

h1{
	background-color: white;
	display: flex;
}

header {
    -webkit-animation: skew 0.75s ease-in infinite;
}
@-webkit-keyframes skew {
    0%, 100% {
        transform: skewX(15deg) skewY(2deg);
    }
    50% {
        transform: skewX(-15deg) skewY(-2deg);
    }
}